@import "vars";
@import "libs";
@import "fonts";
@import "global";

/* write code here */

.header {
  position: relative;
  height: 100vh;

  &__slider {
    &-item {
      height: 100vh;
      background-image: url(../img/header-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    opacity: 0.07;
    max-width: 467px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
  }

  &__aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-right: 1px solid rgba(#fff, .25);
    height: 100vh;
    text-align: center;
  }

  &__date {
    font-weight: 800;
    font-size: 72px;
    line-height: 64px;

    span {
      padding-top: 17px;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 1.4px;
      display: block;
      margin-bottom: 30px;
    }
  }

  &__search {
    padding-top: 15px;
    padding-bottom: 35px;
  }

  &__location {
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.05px;
    position: relative;
    padding-left: 19px;
    text-transform: capitalize;

    &::before {
      content: "";
      position: absolute;
      width: 11px;
      height: 13px;
      background-image: url(../img/marker.svg);
      top: 0;
      left: 0;
    }
  }

  &__map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
  }

  &__arrow {
    position: absolute;
    left: 210px;
    bottom: 42px;
    z-index: 3;
  }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 115px;
  text-align: right;

  &-title {
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;
    margin-bottom: 48px;
  }

  &-subtitle {
    margin-bottom: 5px;
  }

  &-subtext {
    margin-bottom: 8px;
  }

  &-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }
}

.slider-arrow {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;

  &__left {
    right: 125px;
  }
}

.slider-pagination {
  position: absolute;
  right: 40px;
  bottom: 36px;
  max-width: 960px;
  width: 100%;

  .slick-current {
    .pagination-box {
      border-top: 4px solid $green;
    }
  }
}

.pagination-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;
  &__number {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }

  &__name {
    font-weight: 300;
    line-height: 19px;
    text-transform: capitalize;
  }
}

.menu {
  padding-top: 40px;
  a {
    span {
      display: block;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 3px;
      padding-top: 6px;
      margin-bottom: 25px;
      text-transform: capitalize;
    }
  }
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 5s infinite 6s;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

/*--------------------*/

.surf {
  padding: 160px 0 120px;
  background-image: url(../img/surf-loc.svg);
  background-repeat: no-repeat;
  background-position: right 200px;
  background-size: auto;

  &__subtitle {
    text-align: right;
    padding-right: 80px;
    margin-top: -86px;
  }
}

.surf-slider {
  padding-top: 110px;

  .slider-arrow {
    top: 50px;
    opacity: .25;
  }

  .slick-slide:nth-child(4n + 1) {
    .surf-box {
      margin-top: 32px;
    }
  }

  .slick-slide:nth-child(4n + 3) {
    .surf-box {
      margin-top: 89px;
    }
  }

  .slick-current {
    .surf-box__inner {
      background-color: rgba(#1C2121, .3);
      &-btn {
        display: block;
      }
    }
  }
}

.surf-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    min-height: 750px;
    background-color: rgba(#1C2121, .85);
    position: relative;
    transition: all .5s;

    &:hover {
      background-color: rgba(#1C2121, .3);
    }

    &-title {
      font-weight: 800;
      font-size: 40px;
      line-height: 36px;
      padding: 72px 0 0 40px;
      width: 140px;
    }

    &-location {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 8px;
      transform: rotate(-90deg);
      position: absolute;
      width: 0;
      height: 0;
      left: 40px;
      bottom: 80px;
      white-space: nowrap;
      span {
        font-weight: 100;
      }
    }

    &-btn {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      display: none;
    }
  }
}

.slider-map {
  max-width: 1200px;
  min-height: 635px;
  background-image: url(../img/world-map-dots.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin: 0 auto;

  .slick-list {
    min-height: 635px;
  }
}

.slider-dots {
  position: relative;

  &__circle {
    width: 24px;
    height: 24px;
    background-color: $green;
    border-radius: 50%;
  }

  &__content {
    display: none;
  }

  &--1 { /* нужно порешать */
    top: 335px;
    left: 0;
  }

  &--2 {
    top: 290px;
    left: -15px;

    .slider-dots__circle {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-image: url(../img/mini-marker.png);
        width: 14px;
        height: 17px;
        background-size: cover;
        right: -22px;
        top: -22px;
      }
    }
  }

  &--3 {
    top: 320px;
    left: 39px;
  }

  &--4 {
    top: 502px;
    left: -36px;
  }

  &--5 {
    top: 213px;
    left: -69px;
  }

  &--6 {
    top: 554px;
    left: -111px;
  }

  &--7 {
    top: 395px;
    left: -100px;
  }

  &--8 {
    top: 500px;
    left: 37px;
  }
}

@import "media";